    <div class="image-description">
      <div class="image-container">
        <img src="./assets/images-card/img-5.jpg" alt="Image"/>
      </div>
      <div class="description-container">
        <h2>What We Do</h2>
        <p>At XYZ Hospital, we are committed to providing exceptional healthcare services to our patients. With a team of highly skilled doctors, nurses, and staff, we offer a wide range of medical specialties and treatments.</p>
        <p>Our hospital is equipped with state-of-the-art facilities and advanced medical technology, allowing us to deliver accurate diagnoses and effective treatments. We prioritize patient comfort and safety, ensuring a warm and caring environment for everyone who walks through our doors.</p>
        <p>From routine check-ups to complex surgeries, we cover a comprehensive range of medical services. Our dedicated healthcare professionals work collaboratively to provide personalized care and develop tailored treatment plans for each patient.</p>
        <p>We are passionate about promoting health and well-being in our community. In addition to our clinical services, we actively engage in health education programs, preventive care initiatives, and community outreach activities.</p>
        <p>At XYZ Hospital, your health and well-being are our top priorities. We strive to deliver excellence in healthcare, combining medical expertise, compassion, and innovation to ensure the best possible outcomes for our patients.</p>
      </div>
    </div>
